{
  "openapi": "3.0.0",
  "info": {
    "title": "Operations Center — Fields API",
    "description": "A **field** is an area of land within set boundaries assigned by a grower, within an organization’s location hierarchy.\n\n**Accept / Content-Type:** Use `application/vnd.deere.axiom.v3+json` for request and response bodies where applicable.\n\n**Paging:** List responses may use a **CollectionPage** wrapper (`total`, `links`, `values`). Default page size is often **10**; use **`itemLimit`** (multiples of **10**, max **100**) and **`pageOffset`** where supported.\n\n**Links:** Responses include HATEOAS **`links`**. A field resource often links to **`fields`**, **`farms`**, **`clients`**, and **`owningOrganization`**. Use **`showLinks=none`** or filtered **`showLinks`** to trim payloads.\n\n**Permissions:** Creating, updating, or deleting a field requires **Locations Level 3** (OAuth scope **`ag3`**). Reading fields and related resources typically requires **`ag1`**. **GET** `.../fields/{fieldId}/clients` requires **`ag1`**.\n\n**Events:** Subscribe to **Field Events** via the **Data Subscription Service** when you need push-style updates (requires **`orgId`** filter; other filters optional). Prefer one organization per subscription.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandboxapi.deere.com",
      "description": "Sandbox platform API (`/platform/…` paths)"
    }
  ],
  "tags": [
    {
      "name": "Fields",
      "description": "Field resources under `/platform/organizations/{orgId}/fields`."
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2AuthorizationCode": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow for John Deere Precision Tech platform APIs. Complete the **connections** flow when **GET** `/platform/organizations` returns a **`connections`** link. Field endpoints require **`ag1`** (read) and/or **`ag3`** (create/update/delete) as noted per operation. Use **`offline_access`** for refresh tokens.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/v1/authorize",
            "tokenUrl": "https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/v1/token",
            "refreshUrl": "https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/v1/token",
            "scopes": {
              "ag1": "Locations Access Level 1 — view locations (clients, farms, fields)",
              "ag3": "Locations Access Level 3 — manage locations and production data (create/update/delete fields)",
              "offline_access": "Request a refresh token"
            }
          }
        }
      }
    },
    "schemas": {
      "DeereLink": {
        "type": "object",
        "description": "Hypermedia link (`@type` Link).",
        "properties": {
          "@type": {
            "type": "string",
            "example": "Link"
          },
          "rel": {
            "type": "string",
            "description": "Link relation: e.g. `self`, `fields`, `farms`, `clients`, `owningOrganization`, `nextPage`, `previousPage`.",
            "example": "self"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Field": {
        "type": "object",
        "description": "A field under an organization. Response **links** often include **`fields`**, **`farms`**, **`clients`**, **`boundaries`**, **`activeBoundary`**, and **`owningOrganization`**.",
        "properties": {
          "@type": {
            "type": "string",
            "example": "Field"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Field identifier.",
            "example": "c303004d-beb8-471d-b144-c44bb5318e57"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeereLink"
            }
          }
        },
        "additionalProperties": true,
        "example": {
          "@type": "Field",
          "id": "c303004d-beb8-471d-b144-c44bb5318e57",
          "links": [
            {
              "@type": "Link",
              "rel": "self",
              "uri": "https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57"
            },
            {
              "@type": "Link",
              "rel": "farms",
              "uri": "https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57/farms"
            },
            {
              "@type": "Link",
              "rel": "clients",
              "uri": "https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57/clients"
            },
            {
              "@type": "Link",
              "rel": "owningOrganization",
              "uri": "https://sandboxapi.deere.com/platform/organizations/283480"
            }
          ]
        }
      },
      "FieldList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Field"
        }
      },
      "FieldCreateBody": {
        "type": "object",
        "description": "Request body to create a field. **Client** and **farm** names may be new or existing. You may specify identifiers for the new field or for new clients/farms; when associating to existing client/farm, existing GUIDs may be used instead of names. All fields are created with **`available`** status.",
        "additionalProperties": true,
        "example": {
          "name": "North 40",
          "clientName": "Acme Growers",
          "farmName": "River Bottom"
        }
      },
      "FieldUpdateBody": {
        "type": "object",
        "description": "Request body to update a field: name, archived status, or associated client or farm. If the client and/or farm does not exist, it will be created.",
        "additionalProperties": true,
        "example": {
          "name": "North 40 — replanted"
        }
      },
      "CollectionPage": {
        "type": "object",
        "description": "Paged collection wrapper (`total`, `links`, `values`).",
        "properties": {
          "total": {
            "type": "integer",
            "example": 1
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeereLink"
            }
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "FarmSummaryListResponse": {
        "description": "Farms for the field (array or **CollectionPage**).",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CollectionPage"
          },
          {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ]
      },
      "ClientListForFieldResponse": {
        "description": "Clients that own the field; response links to **fields**, **farms**, and **owningOrganization**.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CollectionPage"
          },
          {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error payload (shape varies by endpoint).",
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/platform/organizations/{orgId}/fields": {
      "get": {
        "tags": ["Fields"],
        "operationId": "listFieldsInOrganization",
        "summary": "Retrieve all fields for an organization",
        "description": "Returns all **fields** for the organization.\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/fields`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization id.",
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "itemLimit",
            "in": "query",
            "required": false,
            "description": "Page size when the response is a CollectionPage: multiples of 10, max 100.",
            "schema": {
              "type": "integer",
              "enum": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "required": false,
            "description": "Pagination offset aligned with `itemLimit`.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "description": "Omit links with `none`, or filter to specific `rel` values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "description": "Must be `application/vnd.deere.axiom.v3+json` for Axiom v3 responses.",
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/fields?itemLimit=50&pageOffset=0' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Fields for the organization (array or CollectionPage with `values`).",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CollectionPage"
                    },
                    {
                      "$ref": "#/components/schemas/FieldList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, invalid, or expired token.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient permissions, missing scopes, restricted organization (RCA), or organization not connected to the application.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — honor `Retry-After` when present."
          },
          "503": {
            "description": "Service unavailable — retry with backoff; honor `Retry-After` when present."
          }
        }
      },
      "post": {
        "tags": ["Fields"],
        "operationId": "createField",
        "summary": "Create a field for an organization",
        "description": "Creates a **field** in the target organization. Requires **Locations Level 3** permission. **Client** and **farm** names in the body may be new or existing (add field to existing client/farm; new farm under existing client; or new client/farm/field). You may specify identifiers for new field, client, or farm, or use existing GUIDs instead of names when associating to existing resources. All fields are created with **`available`** status.\n\n**OAuth scope:** **`ag3`**\n\n**Request URL:** `POST https://sandboxapi.deere.com/platform/organizations/{orgId}/fields`\n\n**Content-Type:** `application/vnd.deere.axiom.v3+json`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag3"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization id.",
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.deere.axiom.v3+json": {
              "schema": {
                "$ref": "#/components/schemas/FieldCreateBody"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/fields' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json' \\\n  --header 'Content-Type: application/vnd.deere.axiom.v3+json' \\\n  --data '{\"name\":\"North 40\",\"clientName\":\"Acme Growers\",\"farmName\":\"River Bottom\"}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Field created (or 201 depending on platform behavior).",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "201": {
            "description": "Field created.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid body.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — missing `ag3` or insufficient org permission.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    },
    "/platform/organizations/{orgId}/fields/{fieldId}": {
      "get": {
        "tags": ["Fields"],
        "operationId": "getField",
        "summary": "Get field by organization and field id",
        "description": "Returns a single **field** by organization and field id.\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/fields/{fieldId}`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "description": "Field id (GUID).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c303004d-beb8-471d-b144-c44bb5318e57"
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Field resource.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Field not found or id not valid for this user.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      },
      "put": {
        "tags": ["Fields"],
        "operationId": "updateField",
        "summary": "Update a field",
        "description": "Updates the field **name**, **archived** status, or associated **client** or **farm**. If the client and/or farm does not exist, it will be created. Requires **Locations Level 3** permission.\n\n**OAuth scope:** **`ag3`**\n\n**Request URL:** `PUT https://sandboxapi.deere.com/platform/organizations/{orgId}/fields/{fieldId}`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag3"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c303004d-beb8-471d-b144-c44bb5318e57"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.deere.axiom.v3+json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateBody"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json' \\\n  --header 'Content-Type: application/vnd.deere.axiom.v3+json' \\\n  --data '{\"name\":\"North 40 — replanted\"}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Field updated.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      },
      "delete": {
        "tags": ["Fields"],
        "operationId": "deleteField",
        "summary": "Delete a field by organization and field id",
        "description": "Deletes a **field** by organization and field id. Requires **Locations Level 3** permission.\n\n**OAuth scope:** **`ag3`**\n\n**Request URL:** `DELETE https://sandboxapi.deere.com/platform/organizations/{orgId}/fields/{fieldId}`\n\n**Accept:** `application/vnd.deere.axiom.v3+json`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag3"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c303004d-beb8-471d-b144-c44bb5318e57"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request DELETE \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Field deleted (or 204 No Content depending on platform behavior).",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "204": {
            "description": "No content — delete succeeded."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    },
    "/platform/organizations/{orgId}/fields/{fieldId}/farms": {
      "get": {
        "tags": ["Fields"],
        "operationId": "getFieldFarms",
        "summary": "Get farms for a field",
        "description": "Returns **farms** within the organization for the given **fieldId**.\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/fields/{fieldId}/farms`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization id.",
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "description": "Field id (GUID).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c303004d-beb8-471d-b144-c44bb5318e57"
            }
          },
          {
            "name": "itemLimit",
            "in": "query",
            "required": false,
            "description": "Page size when the response is a CollectionPage: multiples of 10, max 100.",
            "schema": {
              "type": "integer",
              "enum": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57/farms' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Farms for the field.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/FarmSummaryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    },
    "/platform/organizations/{orgId}/fields/{fieldId}/clients": {
      "get": {
        "tags": ["Fields"],
        "operationId": "listFieldClients",
        "summary": "View clients that own a field",
        "description": "View details about the **client** that owns the field. The response links to **fields** (the field the client belongs to), **farms** (farms belonging to the client), and **owningOrganization** (the org that owns the field).\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/fields/{fieldId}/clients`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization id.",
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "description": "Field id (GUID).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c303004d-beb8-471d-b144-c44bb5318e57"
            }
          },
          {
            "name": "itemLimit",
            "in": "query",
            "required": false,
            "description": "Page size when the response is a CollectionPage: multiples of 10, max 100.",
            "schema": {
              "type": "integer",
              "enum": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/fields/c303004d-beb8-471d-b144-c44bb5318e57/clients' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Clients that own the field.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListForFieldResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    }
  }
}
