{
  "openapi": "3.0.0",
  "info": {
    "title": "Operations Center — Farms API",
    "description": "A **farm** is a set of **fields** associated with a **client** within an organization’s location hierarchy.\n\n**Accept / Content-Type:** Use `application/vnd.deere.axiom.v3+json` for request and response bodies where applicable.\n\n**Paging:** List responses may use a **CollectionPage** wrapper (`total`, `links`, `values`). Default page size is often **10**; use **`itemLimit`** (multiples of **10**, max **100**) and **`pageOffset`** where supported.\n\n**Links:** Responses include HATEOAS **`links`**. A farm resource often links to **`fields`**, **`clients`**, and **`owningOrganization`**. Use **`showLinks=none`** or filtered **`showLinks`** to trim payloads.\n\n**Permissions:** Creating, updating, or deleting a farm requires **Locations Level 3** (OAuth scope **`ag3`**). Reading farms and related resources typically requires **`ag1`**.\n\n**Events:** Subscribe to **Farm Events** via the **Data Subscription Service** when you need push-style updates (requires **`orgId`** filter; other filters optional).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandboxapi.deere.com",
      "description": "Sandbox platform API (`/platform/…` paths)"
    }
  ],
  "tags": [
    {
      "name": "Farms",
      "description": "Farm resources under `/platform/organizations/{orgId}/farms`."
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2AuthorizationCode": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow for John Deere Precision Tech platform APIs. Complete the **connections** flow when **GET** `/platform/organizations` returns a **`connections`** link. Farm endpoints require **`ag1`** (read) and/or **`ag3`** (create/update/delete) as noted per operation. Use **`offline_access`** for refresh tokens.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/v1/authorize",
            "tokenUrl": "https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/v1/token",
            "refreshUrl": "https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/v1/token",
            "scopes": {
              "ag1": "Locations Access Level 1 — view locations (clients, farms, fields)",
              "ag3": "Locations Access Level 3 — manage locations and production data (create/update/delete farms)",
              "offline_access": "Request a refresh token"
            }
          }
        }
      }
    },
    "schemas": {
      "DeereLink": {
        "type": "object",
        "description": "Hypermedia link (`@type` Link).",
        "properties": {
          "@type": {
            "type": "string",
            "example": "Link"
          },
          "rel": {
            "type": "string",
            "description": "Link relation: e.g. `self`, `fields`, `clients`, `owningOrganization`, `nextPage`, `previousPage`.",
            "example": "self"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Farm": {
        "type": "object",
        "description": "A farm under an organization. Response **links** often include **`fields`**, **`clients`**, and **`owningOrganization`**.",
        "properties": {
          "@type": {
            "type": "string",
            "example": "Farm"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Farm identifier.",
            "example": "14e69520-34b2-4e67-b5f1-fffaf49531de"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeereLink"
            }
          }
        },
        "additionalProperties": true,
        "example": {
          "@type": "Farm",
          "id": "14e69520-34b2-4e67-b5f1-fffaf49531de",
          "links": [
            {
              "@type": "Link",
              "rel": "self",
              "uri": "https://sandboxapi.deere.com/platform/organizations/1234/farms/14e69520-34b2-4e67-b5f1-fffaf49531de"
            },
            {
              "@type": "Link",
              "rel": "fields",
              "uri": "https://sandboxapi.deere.com/platform/organizations/1234/farms/14e69520-34b2-4e67-b5f1-fffaf49531de/fields"
            },
            {
              "@type": "Link",
              "rel": "clients",
              "uri": "https://sandboxapi.deere.com/platform/organizations/1234/farms/14e69520-34b2-4e67-b5f1-fffaf49531de/clients"
            },
            {
              "@type": "Link",
              "rel": "owningOrganization",
              "uri": "https://sandboxapi.deere.com/platform/organizations/1234"
            }
          ]
        }
      },
      "FarmList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Farm"
        }
      },
      "FarmCreateUpdateBody": {
        "type": "object",
        "description": "Request body to create or update a farm. Exact fields follow the platform contract; include all required properties for **PUT** updates per API behavior.",
        "additionalProperties": true,
        "example": {
          "name": "North 80"
        }
      },
      "CollectionPage": {
        "type": "object",
        "description": "Paged collection wrapper (`total`, `links`, `values`).",
        "properties": {
          "total": {
            "type": "integer",
            "example": 1
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeereLink"
            }
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "FieldDetailResponse": {
        "description": "Field resource(s) for a farm. Response **links** may include **`boundaries`**, **`clients`**, **`farms`**, **`owningOrganization`**, and **`activeBoundary`**.",
        "type": "object",
        "additionalProperties": true
      },
      "ClientListResponse": {
        "description": "Clients that own or are associated with the farm (array or **CollectionPage**).",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CollectionPage"
          },
          {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error payload (shape varies by endpoint).",
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/platform/organizations/{orgId}/farms": {
      "get": {
        "tags": ["Farms"],
        "operationId": "listFarmsInOrganization",
        "summary": "View farms in an organization",
        "description": "Returns all **farms** for the organization.\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/farms`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization id.",
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "itemLimit",
            "in": "query",
            "required": false,
            "description": "Page size when the response is a CollectionPage: multiples of 10, max 100.",
            "schema": {
              "type": "integer",
              "enum": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "required": false,
            "description": "Pagination offset aligned with `itemLimit`.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "description": "Omit links with `none`, or filter to specific `rel` values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "description": "Must be `application/vnd.deere.axiom.v3+json` for Axiom v3 responses.",
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/farms?itemLimit=50&pageOffset=0' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Farms for the organization (array or CollectionPage with `values`).",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CollectionPage"
                    },
                    {
                      "$ref": "#/components/schemas/FarmList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, invalid, or expired token.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient permissions, missing scopes, restricted organization (RCA), or organization not connected to the application.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — honor `Retry-After` when present."
          },
          "503": {
            "description": "Service unavailable — retry with backoff; honor `Retry-After` when present."
          }
        }
      },
      "post": {
        "tags": ["Farms"],
        "operationId": "createFarm",
        "summary": "Create a farm",
        "description": "Creates a **farm** for the organization. Requires **Locations Level 3** permission.\n\n**OAuth scope:** **`ag3`**\n\n**Request URL:** `POST https://sandboxapi.deere.com/platform/organizations/{orgId}/farms`\n\n**Content-Type:** `application/vnd.deere.axiom.v3+json`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag3"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization id.",
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.deere.axiom.v3+json": {
              "schema": {
                "$ref": "#/components/schemas/FarmCreateUpdateBody"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/farms' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json' \\\n  --header 'Content-Type: application/vnd.deere.axiom.v3+json' \\\n  --data '{\"name\":\"North 80\"}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Farm created (or 201 depending on platform behavior).",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Farm"
                }
              }
            }
          },
          "201": {
            "description": "Farm created.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Farm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid body.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — missing `ag3` or insufficient org permission.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    },
    "/platform/organizations/{orgId}/farms/{farmId}": {
      "get": {
        "tags": ["Farms"],
        "operationId": "getFarm",
        "summary": "View a farm",
        "description": "Returns a single **farm** by organization and farm id. Response **links** typically include **`fields`**, **`clients`**, and **`owningOrganization`**.\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/farms/{farmId}`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "farmId",
            "in": "path",
            "required": true,
            "description": "Farm id (GUID).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "14e69520-34b2-4e67-b5f1-fffaf49531de"
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/farms/14e69520-34b2-4e67-b5f1-fffaf49531de' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Farm resource.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Farm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Farm not found or id not valid for this user.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      },
      "put": {
        "tags": ["Farms"],
        "operationId": "updateFarm",
        "summary": "Update a farm",
        "description": "Updates an existing **farm**. Requires **Locations Level 3** permission in the target organization.\n\n**OAuth scope:** **`ag3`**\n\n**Request URL:** `PUT https://sandboxapi.deere.com/platform/organizations/{orgId}/farms/{farmId}`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag3"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "farmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "14e69520-34b2-4e67-b5f1-fffaf49531de"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.deere.axiom.v3+json": {
              "schema": {
                "$ref": "#/components/schemas/FarmCreateUpdateBody"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/farms/14e69520-34b2-4e67-b5f1-fffaf49531de' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json' \\\n  --header 'Content-Type: application/vnd.deere.axiom.v3+json' \\\n  --data '{\"name\":\"North 80 — East\"}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Farm updated.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Farm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      },
      "delete": {
        "tags": ["Farms"],
        "operationId": "deleteFarm",
        "summary": "Delete a farm",
        "description": "Deletes a **farm**. Requires **Locations Level 3** permission in the target organization.\n\n**OAuth scope:** **`ag3`**\n\n**Request URL:** `DELETE https://sandboxapi.deere.com/platform/organizations/{orgId}/farms/{farmId}`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag3"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "farmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "14e69520-34b2-4e67-b5f1-fffaf49531de"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request DELETE \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/farms/14e69520-34b2-4e67-b5f1-fffaf49531de' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Farm deleted (or 204 No Content depending on platform behavior).",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "204": {
            "description": "No content — delete succeeded."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    },
    "/platform/organizations/{orgId}/farms/{farmId}/clients": {
      "get": {
        "tags": ["Farms"],
        "operationId": "listFarmClients",
        "summary": "View clients that own a farm",
        "description": "Returns **clients** for the given organization and farm id.\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/farms/{farmId}/clients`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "farmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "14e69520-34b2-4e67-b5f1-fffaf49531de"
            }
          },
          {
            "name": "itemLimit",
            "in": "query",
            "required": false,
            "description": "Page size when the response is a CollectionPage: multiples of 10, max 100.",
            "schema": {
              "type": "integer",
              "enum": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/farms/14e69520-34b2-4e67-b5f1-fffaf49531de/clients' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Clients associated with the farm.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    },
    "/platform/organizations/{orgId}/farms/{farmId}/fields": {
      "get": {
        "tags": ["Farms"],
        "operationId": "getFarmFields",
        "summary": "View a farm's fields",
        "description": "Returns **field** details for the specified farm. Response **links** may include **`boundaries`** (field boundaries), **`clients`**, **`farms`**, **`owningOrganization`**, and **`activeBoundary`**.\n\n**OAuth scope:** **`ag1`**\n\n**Request URL:** `GET https://sandboxapi.deere.com/platform/organizations/{orgId}/farms/{farmId}/fields`",
        "security": [
          {
            "OAuth2AuthorizationCode": ["ag1"]
          }
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization id.",
            "schema": {
              "type": "string",
              "example": "283480"
            }
          },
          {
            "name": "farmId",
            "in": "path",
            "required": true,
            "description": "Farm id (GUID).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "14e69520-34b2-4e67-b5f1-fffaf49531de"
            }
          },
          {
            "name": "showLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/vnd.deere.axiom.v3+json"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://sandboxapi.deere.com/platform/organizations/283480/farms/14e69520-34b2-4e67-b5f1-fffaf49531de/fields' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/vnd.deere.axiom.v3+json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Field resource(s) for the farm.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/vnd.deere.axiom.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests."
          },
          "503": {
            "description": "Service unavailable."
          }
        }
      }
    }
  }
}
