{
  "openapi": "3.0.0",
  "info": {
    "title": "Retrieve Warranty Information API",
    "description": "Retrieves **detailed warranty coverage and history** for a specified **PIN** (product identification number), keyed by **dealer number** and **PIN**. The legacy SOAP **Retrieve Warranty Information** operation maps to this REST API; see your SOAP-to-REST field mapping and REST API FAQ for property-level details.\n\nSupport: Warranty_Api_Support@JohnDeere.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://jdws-api-sandbox.deere.com",
      "description": "Sandbox (cert). Production uses `https://warrantyext-api-prod.deere.com` — confirm the path prefix under `/digcust/wy/` and whether the `cert` segment is present for your environment."
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "John Deere Dealer Solutions OAuth 2.0. Use the **authorization code** flow (three-legged) for interactive users, or the **client credentials** grant for machine-to-machine access. Request the OAuth scope assigned to your application for this API (this reference uses `warranty` as an example — confirm the scope in your Developer.Deere.com application and technical documentation).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/authorize",
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "offline_access": "Request a refresh token",
              "warranty": "Retrieve Warranty Information API access"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "warranty": "Retrieve Warranty Information API access"
            }
          }
        }
      }
    },
    "schemas": {
      "WtyInfo": {
        "type": "object",
        "description": "Warranty information entity returned from **WtyInfoSet**. The exact properties depend on the OData contract and your SOAP-to-REST mapping; additional fields may appear.",
        "additionalProperties": true,
        "properties": {
          "dealerNum": {
            "type": "string",
            "description": "Dealer number used in the lookup key.",
            "example": "550012345"
          },
          "pin": {
            "type": "string",
            "description": "Product identification number (PIN) used in the lookup key.",
            "example": "1E012345678901"
          },
          "coverageStatus": {
            "type": "string",
            "description": "High-level warranty coverage status when returned by the service.",
            "example": "ACTIVE"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "NOT_FOUND"
              },
              "message": {
                "type": "string",
                "example": "No warranty information was found for the supplied dealer number and PIN."
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/digcust/wy/cert/{applicationId}/WtyInfoSet(DealerNum='{DealerNum}',Pin='{Pin}')": {
      "get": {
        "operationId": "getWtyInfoByDealerAndPin",
        "summary": "Get warranty information by dealer number and PIN",
        "description": "Retrieves **WtyInfo** entities from **WtyInfoSet** using the OData-style key: **DealerNum** and **Pin**.\n\n**Sandbox example:** `GET https://jdws-api-sandbox.deere.com/digcust/wy/cert/DbsWtyInfo/WtyInfoSet(DealerNum='550012345',Pin='1E012345678901')`\n\n**Production:** Use the production host (`https://warrantyext-api-prod.deere.com`) with the path pattern documented for your program (the `cert` segment or application id may differ from sandbox).\n\n**Accept:** `application/json`",
        "security": [{ "OAuth2": ["warranty"] }],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application or service instance segment for your Dealer Solutions integration (sandbox example: `DbsWtyInfo`).",
            "schema": {
              "type": "string",
              "example": "DbsWtyInfo"
            }
          },
          {
            "name": "DealerNum",
            "in": "path",
            "required": true,
            "description": "Dealer number in the WtyInfoSet key.",
            "schema": {
              "type": "string",
              "example": "550012345"
            }
          },
          {
            "name": "Pin",
            "in": "path",
            "required": true,
            "description": "Product identification number (PIN) in the WtyInfoSet key.",
            "schema": {
              "type": "string",
              "example": "1E012345678901"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url \"https://jdws-api-sandbox.deere.com/digcust/wy/cert/DbsWtyInfo/WtyInfoSet(DealerNum='550012345',Pin='1E012345678901')\" \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Warranty coverage and history returned for the supplied key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WtyInfo"
                },
                "example": {
                  "dealerNum": "550012345",
                  "pin": "1E012345678901",
                  "coverageStatus": "ACTIVE"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed key or invalid parameters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "The WtyInfoSet key could not be parsed."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing or invalid access token.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Invalid or expired access token."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — token does not include the required scope or organization access.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access token is missing the required scope."
                  }
                }
              }
            }
          },
          "404": {
            "description": "No warranty information found for the supplied dealer number and PIN.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No warranty information was found for the supplied key."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
