{
  "openapi": "3.0.0",
  "info": {
    "title": "Retrieve Maintenance Contracts API",
    "description": "Retrieves **detailed maintenance contract information** for a specified **PIN** (product identification number) and **dealer**. The legacy SOAP **Retrieve Maintenance Contract details** operation maps to this REST API; see your **SOAP-to-REST field mapping** and **REST API FAQ** attachments for property-level details.\n\nSupport: Warranty_Api_Support@JohnDeere.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://jdws-api-sandbox.deere.com",
      "description": "Sandbox (cert). Production uses `https://warrantyext-api-prod.deere.com` — confirm the path prefix under `/digcust/wy/` and whether the `cert` segment is present for your environment."
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "John Deere Dealer Solutions OAuth 2.0. Use the **authorization code** flow (three-legged) for interactive users, or the **client credentials** grant for machine-to-machine access. Request the OAuth scope assigned to your application for this API (this reference uses `warranty` as an example — confirm the scope in your Developer.Deere.com application and technical documentation).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/authorize",
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "offline_access": "Request a refresh token",
              "warranty": "Retrieve Maintenance Contracts API access"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "warranty": "Retrieve Maintenance Contracts API access"
            }
          }
        }
      }
    },
    "schemas": {
      "PinDealerContractSummary": {
        "type": "object",
        "description": "Maintenance contract context for the **PinDealerSet** key. The exact properties depend on the OData contract and your SOAP-to-REST mapping; additional fields may appear.",
        "additionalProperties": true,
        "properties": {
          "pin": {
            "type": "string",
            "description": "Product identification number used in the lookup key.",
            "example": "1E012345678901234"
          },
          "dealer": {
            "type": "string",
            "description": "Dealer identifier used in the lookup key.",
            "example": "550012345"
          },
          "contractCount": {
            "type": "integer",
            "description": "Number of contracts when returned by the service.",
            "example": 2
          }
        }
      },
      "MaintenanceContractDetail": {
        "type": "object",
        "description": "A single maintenance contract line or header from the **Contracts** navigation. Field names follow your OData and SOAP-to-REST mapping.",
        "additionalProperties": true,
        "properties": {
          "contractNumber": {
            "type": "string",
            "description": "Contract identifier when present.",
            "example": "MC-2026-00088421"
          },
          "contractStatus": {
            "type": "string",
            "description": "High-level contract status when returned.",
            "example": "ACTIVE"
          },
          "coverageEndDate": {
            "type": "string",
            "format": "date",
            "description": "Coverage end date when returned (format may vary by service).",
            "example": "2028-12-31"
          }
        }
      },
      "ContractsCollection": {
        "type": "object",
        "description": "OData collection payload for contract details under **PinDealerSet**.",
        "additionalProperties": true,
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MaintenanceContractDetail"
            },
            "description": "Contract entities returned for the PIN and dealer."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "NOT_FOUND"
              },
              "message": {
                "type": "string",
                "example": "No maintenance contracts were found for the supplied PIN and dealer."
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/digcust/wy/cert/{applicationId}/PinDealerSet(Pin='{Pin}',Dealer='{Dealer}')": {
      "get": {
        "operationId": "getMaintenanceContractForPinAndDealer",
        "summary": "Get contract for PIN and dealer",
        "description": "Retrieves maintenance contract information from **PinDealerSet** using the OData-style key: **Pin** and **Dealer**.\n\n**Sandbox example:** `GET https://jdws-api-sandbox.deere.com/digcust/wy/cert/WtyDbsMaintContract/PinDealerSet(Pin='1E012345678901234',Dealer='550012345')`\n\n**Production:** Use the production host (`https://warrantyext-api-prod.deere.com`) with the path pattern documented for your program (the `cert` segment or application id may differ from sandbox).\n\n**Accept:** `application/json`",
        "security": [{ "OAuth2": ["warranty"] }],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application or service instance segment for your Dealer Solutions integration (sandbox example: `WtyDbsMaintContract`).",
            "schema": {
              "type": "string",
              "example": "WtyDbsMaintContract"
            }
          },
          {
            "name": "Pin",
            "in": "path",
            "required": true,
            "description": "Product identification number (PIN) in the PinDealerSet key.",
            "schema": {
              "type": "string",
              "example": "1E012345678901234"
            }
          },
          {
            "name": "Dealer",
            "in": "path",
            "required": true,
            "description": "Dealer identifier in the PinDealerSet key.",
            "schema": {
              "type": "string",
              "example": "550012345"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url \"https://jdws-api-sandbox.deere.com/digcust/wy/cert/WtyDbsMaintContract/PinDealerSet(Pin='1E012345678901234',Dealer='550012345')\" \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Maintenance contract context returned for the supplied PIN and dealer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PinDealerContractSummary"
                },
                "example": {
                  "pin": "1E012345678901234",
                  "dealer": "550012345",
                  "contractCount": 2
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed key or invalid parameters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "The PinDealerSet key could not be parsed."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing or invalid access token.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Invalid or expired access token."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — token does not include the required scope or organization access.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access token is missing the required scope."
                  }
                }
              }
            }
          },
          "404": {
            "description": "No maintenance contract data found for the supplied PIN and dealer.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No maintenance contracts were found for the supplied PIN and dealer."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/digcust/wy/cert/{applicationId}/PinDealerSet(Pin='{Pin}',Dealer='{Dealer}')/Contracts": {
      "get": {
        "operationId": "getMaintenanceContractDetailsForPinAndDealer",
        "summary": "Get contract details for PIN and dealer",
        "description": "Retrieves **contract detail** entities from the **Contracts** navigation property for the **PinDealerSet** key.\n\n**Sandbox example:** `GET https://jdws-api-sandbox.deere.com/digcust/wy/cert/WtyDbsMaintContract/PinDealerSet(Pin='1E012345678901234',Dealer='550012345')/Contracts`\n\n**Production:** Use the production host (`https://warrantyext-api-prod.deere.com`) with the path pattern documented for your program.\n\n**Accept:** `application/json`",
        "security": [{ "OAuth2": ["warranty"] }],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application or service instance segment for your Dealer Solutions integration (sandbox example: `WtyDbsMaintContract`).",
            "schema": {
              "type": "string",
              "example": "WtyDbsMaintContract"
            }
          },
          {
            "name": "Pin",
            "in": "path",
            "required": true,
            "description": "Product identification number (PIN) in the PinDealerSet key.",
            "schema": {
              "type": "string",
              "example": "1E012345678901234"
            }
          },
          {
            "name": "Dealer",
            "in": "path",
            "required": true,
            "description": "Dealer identifier in the PinDealerSet key.",
            "schema": {
              "type": "string",
              "example": "550012345"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url \"https://jdws-api-sandbox.deere.com/digcust/wy/cert/WtyDbsMaintContract/PinDealerSet(Pin='1E012345678901234',Dealer='550012345')/Contracts\" \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract details returned for the supplied PIN and dealer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractsCollection"
                },
                "example": {
                  "value": [
                    {
                      "contractNumber": "MC-2026-00088421",
                      "contractStatus": "ACTIVE",
                      "coverageEndDate": "2028-12-31"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed key or invalid parameters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "The PinDealerSet key could not be parsed."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing or invalid access token.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Invalid or expired access token."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — token does not include the required scope or organization access.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access token is missing the required scope."
                  }
                }
              }
            }
          },
          "404": {
            "description": "No contract details found for the supplied PIN and dealer.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No contract details were found for the supplied PIN and dealer."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
