{
  "openapi": "3.0.0",
  "info": {
    "title": "Retrieve Incentive Programs API",
    "description": "Returns a **list of available incentive programs** applicable to a specified **PIN** (product identification number). The legacy SOAP **Retrieve Valid Incentive Program** operation maps to this REST API; see your **SOAP-to-REST field mapping** and **REST API FAQ** attachments for property-level details.\n\nSupport: Warranty_Api_Support@JohnDeere.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://jdws-api-sandbox.deere.com",
      "description": "Sandbox (cert). Production uses `https://warrantyext-api-prod.deere.com` — confirm the path prefix under `/digcust/wy/` and whether the `cert` segment is present for your environment."
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "John Deere Dealer Solutions OAuth 2.0. Use the **authorization code** flow (three-legged) for interactive users, or the **client credentials** grant for machine-to-machine access. Request the OAuth scope assigned to your application for this API (this reference uses `warranty` as an example — confirm the scope in your Developer.Deere.com application and technical documentation).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/authorize",
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "offline_access": "Request a refresh token",
              "warranty": "Retrieve Incentive Programs API access"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "warranty": "Retrieve Incentive Programs API access"
            }
          }
        }
      }
    },
    "schemas": {
      "IncProgHeader": {
        "type": "object",
        "description": "Incentive program header entity returned from **IncProgHeaderSet**. The exact properties depend on the OData contract and your SOAP-to-REST mapping; additional fields may appear.",
        "additionalProperties": true,
        "properties": {
          "dealer": {
            "type": "string",
            "description": "Dealer identifier used in the lookup key.",
            "example": "550012345"
          },
          "pin": {
            "type": "string",
            "description": "Product identification number (PIN) used in the lookup key.",
            "example": "1A2B3C4D5E6F7890"
          },
          "repairDate": {
            "type": "string",
            "description": "Repair date used in the lookup key (format per service contract).",
            "example": "2026-04-01"
          },
          "programId": {
            "type": "string",
            "description": "Incentive program identifier when present on the entity.",
            "example": "INC-AGR-2026-01"
          },
          "programName": {
            "type": "string",
            "description": "Display name of the incentive program when returned.",
            "example": "Spring Service Incentive"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "NOT_FOUND"
              },
              "message": {
                "type": "string",
                "example": "No incentive programs were found for the supplied PIN and repair date."
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/digcust/wy/cert/{applicationId}/IncProgHeaderSet(Dealer='{Dealer}',Pin='{Pin}',RepairDate='{RepairDate}')": {
      "get": {
        "operationId": "getIncentiveProgramsByPin",
        "summary": "Get incentive programs by dealer, PIN, and repair date",
        "description": "Retrieves **Incentive Program** entities from **IncProgHeaderSet** using the OData-style key: **dealer**, **PIN**, and **repair date**.\n\n**Sandbox example:** `GET https://jdws-api-sandbox.deere.com/digcust/wy/cert/WtyDbsRetrIncentiveProg/IncProgHeaderSet(Dealer='550012345',Pin='1A2B3C4D5E6F7890',RepairDate='2026-04-01')`\n\n**Production:** Use the production host (`https://warrantyext-api-prod.deere.com`) with the path pattern documented for your program (the `cert` segment or application id may differ from sandbox).\n\n**Accept:** `application/json`",
        "security": [{ "OAuth2": ["warranty"] }],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application or service instance segment for your Dealer Solutions integration (sandbox example: `WtyDbsRetrIncentiveProg`).",
            "schema": {
              "type": "string",
              "example": "WtyDbsRetrIncentiveProg"
            }
          },
          {
            "name": "Dealer",
            "in": "path",
            "required": true,
            "description": "Dealer identifier in the IncProgHeaderSet key.",
            "schema": {
              "type": "string",
              "example": "550012345"
            }
          },
          {
            "name": "Pin",
            "in": "path",
            "required": true,
            "description": "Product identification number (PIN) in the IncProgHeaderSet key.",
            "schema": {
              "type": "string",
              "example": "1A2B3C4D5E6F7890"
            }
          },
          {
            "name": "RepairDate",
            "in": "path",
            "required": true,
            "description": "Repair date in the IncProgHeaderSet key (format per your integration contract).",
            "schema": {
              "type": "string",
              "example": "2026-04-01"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url \"https://jdws-api-sandbox.deere.com/digcust/wy/cert/WtyDbsRetrIncentiveProg/IncProgHeaderSet(Dealer='550012345',Pin='1A2B3C4D5E6F7890',RepairDate='2026-04-01')\" \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Incentive program headers returned for the supplied key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncProgHeader"
                },
                "example": {
                  "dealer": "550012345",
                  "pin": "1A2B3C4D5E6F7890",
                  "repairDate": "2026-04-01",
                  "programId": "INC-AGR-2026-01",
                  "programName": "Spring Service Incentive"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed key or invalid parameters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "The IncProgHeaderSet key could not be parsed."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing or invalid access token.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Invalid or expired access token."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — token does not include the required scope or organization access.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access token is missing the required scope."
                  }
                }
              }
            }
          },
          "404": {
            "description": "No incentive programs found for the supplied dealer, PIN, and repair date.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No incentive programs were found for the supplied PIN and repair date."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
