{
  "openapi": "3.0.0",
  "info": {
    "title": "Submit Delivery Receipt API",
    "description": "Submits **end customer registration** details to the John Deere Warranty System and can **register a machine to the dealership** when the unit is taken in on trade. The legacy SOAP **Submit Delivery Receipt** operation maps to this REST API; use your **SOAP-to-REST field mapping** and **REST API FAQ** for exact field names and values.\n\nThe request body must contain **at least one** valid field.\n\nSupport: Warranty_Api_Support@JohnDeere.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://jdws-api-sandbox.deere.com",
      "description": "Sandbox (cert). Production uses `https://warrantyext-api-prod.deere.com` — confirm the path under `/digcust/wy/` and whether the `cert` segment is present for your environment."
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "John Deere Dealer Solutions OAuth 2.0. Use the **authorization code** flow (three-legged) for interactive users, or the **client credentials** grant for machine-to-machine access. Request the OAuth scope assigned to your application for this API (this reference uses `warranty` as an example — confirm the scope in your Developer.Deere.com application and technical documentation).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/authorize",
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "offline_access": "Request a refresh token",
              "warranty": "Submit Delivery Receipt API access"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://signin.johndeere.com/oauth2/ausabzzga86EIeR4l1t7/v1/token",
            "scopes": {
              "warranty": "Submit Delivery Receipt API access"
            }
          }
        }
      }
    },
    "schemas": {
      "SubmitDeliveryReceiptRequest": {
        "type": "object",
        "description": "Payload to create a **DealerInput** entity in **DealerInputSet** for customer registration and optional trade-in registration. Include **at least one** valid field per your program (see SOAP-to-REST mapping). Additional properties are accepted per the underlying OData contract.",
        "minProperties": 1,
        "additionalProperties": true,
        "properties": {
          "dealerAccount": {
            "type": "string",
            "description": "Dealer account identifier when required for the submission context.",
            "example": "550012345"
          },
          "pin": {
            "type": "string",
            "description": "Product identification number (PIN) for the machine when applicable.",
            "example": "1XYZ123456"
          },
          "serialNumber": {
            "type": "string",
            "description": "Machine serial number when required for registration or trade-in.",
            "example": "SN-2026-889900"
          },
          "tradeInPin": {
            "type": "string",
            "description": "PIN for a machine taken in on trade, when registering it to the dealership.",
            "example": "1ABC987654"
          }
        }
      },
      "SubmitDeliveryReceiptResponse": {
        "type": "object",
        "description": "Response after the delivery receipt / registration is processed. Additional fields may appear per entity type.",
        "additionalProperties": true,
        "properties": {
          "status": {
            "type": "string",
            "description": "Processing or entity status when returned by the service.",
            "example": "ACCEPTED"
          },
          "confirmationId": {
            "type": "string",
            "description": "Reference or confirmation identifier when returned.",
            "example": "SDR-2026-00112233"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "BAD_REQUEST"
              },
              "message": {
                "type": "string",
                "example": "The request body must include at least one valid field."
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/digcust/wy/cert/{applicationId}/DealerInputSet": {
      "post": {
        "operationId": "createSubmitDeliveryReceipt",
        "summary": "Create submit delivery receipt",
        "description": "Submits **end customer registration** to the warranty system via **DealerInputSet**. Optionally supports **trade-in** machine registration for the dealership. The body must contain **at least one** valid field.\n\n**Sandbox example:** `POST https://jdws-api-sandbox.deere.com/digcust/wy/cert/DbsSubmitDelReceipt/DealerInputSet`\n\n**Production:** Use `https://warrantyext-api-prod.deere.com` with the path pattern documented for your program (the `cert` segment or application id may differ from sandbox).\n\n**Accept:** `application/json`",
        "security": [{ "OAuth2": ["warranty"] }],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application or service instance segment for your Dealer Solutions integration (sandbox example: `DbsSubmitDelReceipt`).",
            "schema": {
              "type": "string",
              "example": "DbsSubmitDelReceipt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitDeliveryReceiptRequest"
              },
              "example": {
                "dealerAccount": "550012345",
                "pin": "1XYZ123456",
                "serialNumber": "SN-2026-889900"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url 'https://jdws-api-sandbox.deere.com/digcust/wy/cert/DbsSubmitDelReceipt/DealerInputSet' \\\n  --header 'Authorization: Bearer <access_token>' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"dealerAccount\":\"550012345\",\"pin\":\"1XYZ123456\",\"serialNumber\":\"SN-2026-889900\"}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Registration processed; response may include confirmation or entity details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitDeliveryReceiptResponse"
                },
                "example": {
                  "status": "ACCEPTED",
                  "confirmationId": "SDR-2026-00112233"
                }
              }
            }
          },
          "201": {
            "description": "Entity created in DealerInputSet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitDeliveryReceiptResponse"
                },
                "example": {
                  "status": "CREATED",
                  "confirmationId": "SDR-2026-00112233"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — empty body, no valid fields, or validation failure.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "The request body must include at least one valid field."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing or invalid access token.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Invalid or expired access token."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — token does not include the required scope or organization access.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access token is missing the required scope."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
