{
  "openapi": "3.0.0",
  "info": {
    "title": "Work Order Execution Microservice API",
    "description": "Dealers and technicians can inspect, repair, and maintain equipment by creating digital work orders and service estimates. The API supports step-by-step jobs, segments, checklists, parts, labor, notifications, and integration with Service Delivery.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://expertappapi-sandbox.deere.com",
      "description": "Sandbox (Expert App API \u2014 work order microservice)"
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0. Use the authorization code flow (three-legged) for interactive users, or the client credentials grant for machine-to-machine access. The `axiom` scope is required unless your product documentation states otherwise.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/v1/token",
            "scopes": {
              "axiom": "Dealer Solutions API access"
            }
          }
        }
      }
    },
    "schemas": {
      "JsonPayload": {
        "type": "object",
        "description": "JSON request or response body; shape depends on the operation.",
        "additionalProperties": true,
        "example": {
          "id": "550e8400-e29b-41d4-a716-446655440000",
          "status": "OPEN"
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "UNAUTHORIZED"
              },
              "message": {
                "type": "string",
                "example": "Invalid or expired access token."
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/delsol/workorder-micro-v2/api/customer/dbsCustomer": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_customer_dbsCustomer",
        "summary": "getDBSCustomers",
        "description": "Retrieve DBS customer records for the authenticated context.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/customer/dbsCustomer' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: */*'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/features": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_features",
        "summary": "Get feature toggle list",
        "description": "Returns feature toggles available for the current user.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/features' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: */*'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/feature": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_feature",
        "summary": "Check feature for user",
        "description": "Returns whether a feature is enabled for the given user.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/feature' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: */*'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/images": {
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_images",
        "summary": "Upload image or file",
        "description": "Upload an image or file attached to a job.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/images' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "id": "img-uuid",
                  "url": "..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/images/{id}": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_images_id",
        "summary": "Download image or file",
        "description": "Download an image or file attached to a job by identifier.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/images/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_images_id",
        "summary": "Replace image",
        "description": "Replace the image or file for the supplied identifier.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/images/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_delsol_workorder_micro_v2_api_images_id",
        "summary": "Delete image or file",
        "description": "Delete an image or file after it is removed from the associated job.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request DELETE \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/images/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: */*'"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/inspections": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_inspections",
        "summary": "Get completed inspections",
        "description": "List inspections filtered by status (for example `COMPLETED`).",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter inspections by status.",
            "schema": {
              "type": "string",
              "example": "COMPLETED"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/inspections?status=COMPLETED' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/locations/{locationId}/technicianLocations": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_locations_locationId_technicianLocations",
        "summary": "Technician locations by location",
        "description": "Returns all locations for the given location identifier.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "Path parameter `locationId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/locations/loc-7007/technicianLocations' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/technicians/{userId}/technicianLocations": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_technicians_userId_technicianLocations",
        "summary": "Technician locations by user",
        "description": "Returns all locations for the given user identifier.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Path parameter `userId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/technicians/user-8008/technicianLocations' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/machine/{serialNumber}/smartInfo": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_machine_serialNumber_smartInfo",
        "summary": "Machine smart info",
        "description": "View machine information for the supplied serial number.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "description": "Path parameter `serialNumber`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/machine/1XYZ1234567890123/smartInfo' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/machines/{serialNumber}/warrantydetails": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_machines_serialNumber_warrantydetails",
        "summary": "Machine warranty details",
        "description": "View warranty details for the given machine.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "description": "Path parameter `serialNumber`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/machines/1XYZ1234567890123/warrantydetails' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/segments/{id}": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_segments_id",
        "summary": "Get segment by ID",
        "description": "View a segment related to a work order.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/segments/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/segments": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_segments",
        "summary": "List segments",
        "description": "View all segments related to a work order.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/segments' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/byId": {
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_servicequotes_byId",
        "summary": "Create service quote by ID",
        "description": "Create a new service quote with optional Expert Services job IDs or checklist ID at segment level.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/byId' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/groupByServiceArea": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_groupByServiceArea",
        "summary": "List service quotes by service area",
        "description": "View all available service quotes grouped by service area.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/groupByServiceArea' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{id}": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_id",
        "summary": "Get service quote",
        "description": "View a service quote. Optional query `groupby=serviceArea` returns grouping by service area.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "groupby",
            "in": "query",
            "required": false,
            "description": "Optional grouping.",
            "schema": {
              "type": "string",
              "example": "serviceArea"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000?groupby=serviceArea' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_servicequotes_id",
        "summary": "Update service quote",
        "description": "Update a service quote. Optional `reportType=SERVICE_QUOTE_SUMMARY` generates a summary report.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "reportType",
            "in": "query",
            "required": false,
            "description": "When set, triggers report generation.",
            "schema": {
              "type": "string",
              "example": "SERVICE_QUOTE_SUMMARY"
            }
          },
          {
            "name": "notificationType",
            "in": "query",
            "required": false,
            "description": "When set, triggers notification behavior.",
            "schema": {
              "type": "string",
              "example": "SERVICE_QUOTE_SUMMARY"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000?reportType=SERVICE_QUOTE_SUMMARY' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_delsol_workorder_micro_v2_api_servicequotes_id",
        "summary": "Delete service quote",
        "description": "Delete a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request DELETE \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "head": {
        "operationId": "head_delsol_workorder_micro_v2_api_servicequotes_id",
        "summary": "serviceQuoteExists",
        "description": "Returns headers indicating whether the service quote exists.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request HEAD \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource exists."
          },
          "404": {
            "description": "Not found."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_delsol_workorder_micro_v2_api_servicequotes_id",
        "summary": "Patch service quote",
        "description": "Update specific properties of a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PATCH \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{id}/groupByServiceArea": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_id_groupByServiceArea",
        "summary": "Get service quote by service area",
        "description": "View a service quote grouped by service area.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000/groupByServiceArea' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{id}/notification": {
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_servicequotes_id_notification",
        "summary": "Send service quote email notification",
        "description": "Send email notification for the service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000/notification' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{id}/patch": {
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_servicequotes_id_patch",
        "summary": "Patch service quote (alternate path)",
        "description": "Update specific properties of a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000/patch' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{id}/report": {
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_servicequotes_id_report",
        "summary": "Generate service quote summary report",
        "description": "Generate a service quote summary report.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/550e8400-e29b-41d4-a716-446655440000/report' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments",
        "summary": "List segments for service quote",
        "description": "View all segments for a service quote. Optional `groupby=serviceArea`. Optional `notificationType=PARTS_ONLY_SUMMARY` for parts-only email.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "groupby",
            "in": "query",
            "required": false,
            "description": "Group results by service area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notificationType",
            "in": "query",
            "required": false,
            "description": "Parts-only email notification.",
            "schema": {
              "type": "string",
              "example": "PARTS_ONLY_SUMMARY"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments?groupby=value' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments",
        "summary": "Create segment on service quote",
        "description": "Create a new segment on a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/adHoc": {
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_adHoc",
        "summary": "Add ad hoc segment to service quote",
        "description": "Add an ad hoc job segment to a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/adHoc' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/byId": {
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_byId",
        "summary": "Add segment by checklist or jobs",
        "description": "Add a segment from Expert Services checklist ID or job IDs.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/byId' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/groupByServiceArea/{id}": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_groupByServiceArea_id",
        "summary": "Get segment grouped by service area",
        "description": "View a segment related to a service quote with service-area grouping.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/groupByServiceArea/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/groupByServiceArea": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_groupByServiceArea",
        "summary": "List segments grouped by service area",
        "description": "View all segments for a service quote grouped by service area.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/groupByServiceArea' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/notification": {
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_notification",
        "summary": "Parts-only email for service quote segments",
        "description": "Send parts-only email notification for segments.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/notification' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/{id}": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_id",
        "summary": "Get segment on service quote",
        "description": "View a segment. Optional `groupby=serviceArea`.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "groupby",
            "in": "query",
            "required": false,
            "description": "Optional grouping.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/550e8400-e29b-41d4-a716-446655440000?groupby=value' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_id",
        "summary": "Update segment on service quote",
        "description": "Update a segment related to a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_id",
        "summary": "Delete segment on service quote",
        "description": "Delete a segment related to a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request DELETE \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_id",
        "summary": "Patch segment on service quote",
        "description": "Update specific properties of a segment.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path parameter `id`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PATCH \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/550e8400-e29b-41d4-a716-446655440000' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/{segmentId}/checklists/byId": {
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_segmentId_checklists_byId",
        "summary": "Add checklist by ID to segment",
        "description": "Create and add a checklist to a segment using an Expert Services checklist ID.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "description": "Path parameter `segmentId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/seg-3003/checklists/byId' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/{segmentId}/checklists/{checklistId}/jobs/adHoc": {
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_segmentId_checklists_checklistId_jobs_adHoc",
        "summary": "Ad hoc job on checklist (service quote)",
        "description": "Create an ad hoc job in Expert Services and add it to the checklist.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "description": "Path parameter `segmentId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "description": "Path parameter `checklistId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/seg-3003/checklists/chk-4004/jobs/adHoc' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/{segmentId}/checklists/{checklistId}/jobs/byId": {
      "post": {
        "operationId": "post_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_segmentId_checklists_checklistId_jobs_byId",
        "summary": "Add Expert Services job to checklist",
        "description": "Add a published Expert Services job to a checklist on a segment.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "description": "Path parameter `segmentId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "description": "Path parameter `checklistId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/seg-3003/checklists/chk-4004/jobs/byId' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '{}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/delsol/workorder-micro-v2/api/servicequotes/{serviceQuoteId}/segments/{segmentId}/checklists/{checklistId}/tasks/{jobId}/parts/{partId}": {
      "get": {
        "operationId": "get_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_segmentId_checklists_checklistId_tasks_jobId_parts_partId",
        "summary": "Get part (service quote checklist task)",
        "description": "Get a part by ID for a checklist task on a service quote.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "description": "Path parameter `segmentId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "description": "Path parameter `checklistId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Path parameter `jobId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "Path parameter `partId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/seg-3003/checklists/chk-4004/tasks/job-5005/parts/part-6006' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_segmentId_checklists_checklistId_tasks_jobId_parts_partId",
        "summary": "Put part (service quote checklist task)",
        "description": "Update a part by ID on a checklist task.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "description": "Path parameter `segmentId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "description": "Path parameter `checklistId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Path parameter `jobId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "Path parameter `partId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request PUT \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/seg-3003/checklists/chk-4004/tasks/job-5005/parts/part-6006' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json' \\\\n  --header 'Content-Type: application/json' \\\\n  --data '[]'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonPayload"
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPayload"
              },
              "example": {}
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_delsol_workorder_micro_v2_api_servicequotes_serviceQuoteId_segments_segmentId_checklists_checklistId_tasks_jobId_parts_partId",
        "summary": "Delete part (service quote checklist task)",
        "description": "Delete a part by ID on a checklist task.",
        "security": [
          {
            "OAuth2": [
              "axiom"
            ]
          }
        ],
        "parameters": [
          {
            "name": "serviceQuoteId",
            "in": "path",
            "required": true,
            "description": "Path parameter `serviceQuoteId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "description": "Path parameter `segmentId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "description": "Path parameter `checklistId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Path parameter `jobId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          },
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "Path parameter `partId`.",
            "schema": {
              "type": "string",
              "example": "string"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request DELETE \\\\n  --url 'https://expertappapi-sandbox.deere.com/delsol/workorder-micro-v2/api/servicequotes/sq-1001/segments/seg-3003/checklists/chk-4004/tasks/job-5005/parts/part-6006' \\\\n  --header 'Authorization: Bearer <access_token>' \\\\n  --header 'Accept: application/json'"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
[...]
